#topDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#topDiv li {
    list-style: none;
}
#topDiv img {
    height: 150px;
    width: 150px;
}
#detailsUL {
    list-style: none;
}
#bottomDiv {
    display: flex;
justify-content: center;
}
#momLI {
    font-size:xx-large ;
    text-align: center;
    background-color: blue;
}